@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Knockout';
  src: url('/fonts/knockout-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-tp: var(--primary-tp);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-goldenrod: var(--goldenrod);
  --color-nav-blue: var(--nav-blue);
  --color-sea-blue: var(--sea-blue);
  --color-timeline-line: var(--timeline-line);
  --color-timeline-icon: var(--timeline-icon);
  --color-deep-brown: var(--deep-brown);
  --color-kowahi-gold: var(--kowahi-gold);
}

:root {
  --radius: 0.625rem;
  --background: #eaede3;
  --foreground:  #297b8f;
  --primary: rgb(213, 225, 197);
  --primary-tp: rgba(213, 225, 197, 0.85);
  --secondary: #fad4b1;
  --goldenrod: #feb41d;
  --nav-blue: #03404f;
  --sea-blue: #297b8f;
  --timeline-line: #4F2803;
  --timeline-icon: #feb41d;
  --deep-brown: #4F2803;
  --kowahi-gold: rgb(238, 180, 29);
}



@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
